# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ==========================
# Virtual Environment
# ==========================
.venv/
venv/
env/

# ==========================
# Environment Variables
# ==========================
config.env
.env

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# ChromaDB
# ==========================
chroma_db/
chroma/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# Operating System Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Distribution / Build
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Cache
# ==========================
.cache/
.pytest_cache/
.mypy_cache/